*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  font-family: Geneva, Tahoma, sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  width: 99%;
  height: 98%;
  font-size: 14px;
}

html {
  background-image:url('../img/bg.png');
  background-repeat:repeat;
}

body {
  padding: 5px;
  text-align: center;
}

#display {
  padding: 0;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  vertical-align: middle;
  outline: none;
  border-radius: 5px;
}

  #display:focus {
    outline: none;
  }

#controls {
  padding: 0;
  margin: 0 auto;
  width: 80%;
  height: 20%;
}

  textarea {
    padding: 0;
    margin: 0;
    width: 85%;
    height: 100%;
    border: 0;
    font-family: monospace;
    font-size: 14px;
    background-color: rgba(200, 200, 235, 0.65);
    float: left;
  }

    textarea:focus {
      border: 0;
      outline: none;
    }

  #buttons {
    width: 10%;
    height: 100%;
    float: right;
  }
    #buttons input[type=button] {
      padding: 0;
      margin: 3px 0;
      width: 100%;
      height: 45%;
      font-size: 1.5em;
      background-color: rgb(218, 218, 241);
      color: rgb(100, 100, 255);
      outline: none;
      border: 2px solid rgb(100, 100, 255);
      border-radius: 20px;
      box-shadow: -2px -2px 1px 1px rgba(0, 0, 0, 0.25) inset;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
      font-family: Geneva, Tahoma, sans-serif;
    }
      #buttons input[type=button]:hover {
        border: 2px solid rgb(65, 65, 255);
        color: rgb(65, 65, 255);
      }
      #buttons input[type=button]:disabled {
        border: 2px solid rgb(165, 165, 165);
        color: rgb(165, 165, 165);
        box-shadow: none;
        text-shadow: none;
      }
      #buttons input[type=button]:last-child {
        position: relative;
        bottom: 0;
      }
