*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  font-family: Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}

html, body {
  padding: 0;
  margin: 0;
  width: 99%;
  height: 100%;
  font-size: 14px;
}

html {
  background-image:url('../img/bg.png');
  background-repeat:repeat;
}

body {
  padding: 0;
  text-align: center;
  height: 100%;
}

#sidebar {
  width: 25%;
  height: 100%;
  float: left;
  background-color: rgb(157, 188, 230);
  /*transition: width 0.5s;*/
  overflow-y: scroll;
  word-wrap: break-word;

  position: absolute;
  left: 0%;
  transition: left 0.5s;
}
  #sidebar.hide {
    /*width: 2%;*/
    cursor: pointer;
    overflow-y: hidden;
    /*transition: width 0.5s;*/

    left: -23%;
    transition: left 0.5s;
  }
  #sidebarContents {
    width: 100%;
  }
    #hideSidebar {
      float: right;
      background: none;
      border: none;
      font-weight: bold;
      cursor: pointer;
      outline: none;
      font-size: 1em;
      padding: 0px;
      margin: 0px;
      color: black;
      text-shadow: none;
    }
    .sidebarSection {
      background-color: rgba(0, 0, 0, 0.12);
      margin: 3px 5px 15px 5px;
      border-radius: 5px;
    }
      .sidebarSection h3,
      .sidebarSection ul {
        margin-bottom: 15px;
      }
      .sidebarSection input[type=button] {
        float: right;
        position: relative;
        top: 0px;
        right: 0px;
        padding: 0 2px;
      }

#main {
  float: right;
  width: 75%;
  height: 100%;
  transition: width 0.5s;
}
  #main.full {
    width: 98%;
    transition: width 0.5s;
  }

  #display {
    padding: 0;
    margin: 0 auto;
    width: 80%;
    height: 80%;
    vertical-align: middle;
    outline: none;
    border-radius: 5px;
  }

    #display:focus {
      outline: none;
    }

  #controls {
    padding: 0;
    margin: 0 auto;
    width: 80%;
    height: 20%;
  }

    textarea {
      padding: 0;
      margin: 0;
      width: 85%;
      height: 100%;
      border: 0;
      font-family: monospace;
      font-size: 14px;
      background-color: rgba(200, 200, 235, 0.65);
      float: left;
    }

      textarea:focus {
        border: 0;
        outline: none;
      }

    #buttons {
      width: 10%;
      height: 100%;
      float: right;
    }
      #buttons input[type=button] {
        font-size: 1.4em;
        padding: 0;
        margin: 3px 0;
        width: 100%;
        height: 45%;
      }
        #buttons input[type=button]:disabled {
          border: 2px solid rgba(0, 0, 0, 0.5);
          background-color: rgb(90, 105, 130);
          color: rgb(165, 165, 165);
          box-shadow: none;
          text-shadow: none;
        }
        #buttons input[type=button]:last-child {
          position: relative;
          bottom: 0;
        }

.bold {
  font-weight: bold;
}

input[type=button] {
  font-size: 1em;
  color: rgb(220, 220, 230);
  background-color: rgb(75, 120, 180);
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 5px;
  cursor: pointer;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  outline: none;
  margin: 2px;
}
  input[type=button]:hover {
    text-shadow: none;
    background-color: rgb(50, 80, 120);
  }